.display-flex{
    display: flex;
    align-items: center;
 }
 .display-block{
    display: block;
    align-items: center;
 }
 .display-none{ display: none;}



@media (min-width: 576px) {
   .display-sm-flex{
      display: flex;
      align-items: center;
   }
   .display-sm-block{
      display: block;
      align-items: center;
   }
   .display-sm-none{ display: none;}
}

@media (min-width: 768px) {
   .display-md-flex{
      display: flex;
      align-items: center;
   }
   .display-md-block{
      display: block;
      align-items: center;
   }
   .display-md-none{ display: none;}
}

@media (min-width: 992px) {
   .display-ld-flex{
      display: flex;
      align-items: center;
   }
   .display-lg-block{
      display: block;
      align-items: center;
   }
   .display-lg-none{ display: none;}
}

@media (min-width: 1200px) {
   .display-xl-flex{
      display: flex;
      align-items: center;
   }
   .display-xl-block{
      display: block;
      align-items: center;
   }
   .display-xl-none{ display: none;}
}